html, body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	user-select: none;
	outline: none;
	background-color: transparent;
	font-family: 'PT Sans', sans-serif;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

main {
	position: absolute;
	bottom: 5vh;
	left: 17.65vw;
	text-align: left;
	font-size: 0.9rem;
	color: #E6D081;
}

#level {
	color: #FFFFFF;
}
#level.talking {
	color: #76AEC7;
}
